

/** Reset
------------------------------------------------------------ */

p {
	margin: 0px;
	padding-bottom: 24px;
}

a {
	outline: none !important;
}

a, a:visited {
	color: #D201BC;
	text-decoration: none;
}

a:hover {
	color: #D201BC;
	text-decoration: underline;
}

ul,
li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

/** Clearfix **/
.clearfix:before,
.clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/** Layout
------------------------------------------------------------ */

html,
body {
	height: 100%;
}

#topbar-wrap {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 58px;
	background: #616161;
	z-index: 2000;
}

#menulink {
	display: block;
	box-sizing: border-box;
	position: fixed;
	top: 16px;
	left: 12px;
	background: #616161;
	border: 1px solid #616161;
	border-radius: 2px;
	width: 44px;
	height: 26px;
	padding: 6px;
	z-index: 1980;
	transition: all 50ms;
}

#topbar-wrap:hover #menulink {
	border-color: #bbb;
}

#menulink span.bars {
	position: relative;
	display: block;
	margin-top: 5px;
}

#menulink span.bars,
#menulink span.bars:before,
#menulink span.bars:after {
	background-color: #fff;
	width: 12px;
	height: 2px;
	border: 1px solid #eee;
	border-top: 0px;
	border-bottom: 0px;
}

#menulink span.bars:before,
#menulink span.bars:after {
	position: absolute;
	top: -4px;
	left: -1px;
	content: " ";
}

#menulink span.bars:after {
	top: 4px;
}

#menulink span.arrow {
	position: relative;
	display: block;
	top: -3px;
	left: 21px;
	width: 0px;
	height: 0px;
	border: 4px solid rgba(0,0,0, 0);
	border-bottom: 0px;
	border-top-color: #fdfdfd;
}

#logo {
	display: block;
	position: absolute;
	top: 9px;
	left: 70px;
	background: url(../images/logo.png) no-repeat;
	background-size: 100px 42px;
	text-indent: -9999em;
	width: 100px;
	height: 42px;
}

#menu-wrap {
	position: fixed;
	box-sizing: border-box;
	top: 58px;
	bottom: 0px;
	left: 0px;
	width: 230px;
	background: #fff;
	border-right: 1px solid #d9d9d9;
	box-shadow: none;
	overflow-y: auto;
	transition: all 200ms;
	z-index: 1990;
}

body.menu-regular-active #menu-wrap {
	left: 0px;
	box-shadow: none;
}

body.menu-regular-inactive #menu-wrap {
	left: -230px;
	box-shadow: none;
}

body.menu-overlay-inactive #menu-wrap {
	left: -230px;
	box-shadow: none;
}

body.menu-overlay-active #menu-wrap {
	left: 0px;
	box-shadow: 5px 10px 15px 5px rgba(0,0,0, 0.1);
}

#container {
	min-height: 100%;
	margin-bottom: -60px;
	padding-left: 230px;
	transition: all 200ms;
}

#container:after {
	content: "";
	display: block;
	height: 60px;
}

body.menu-regular-inactive #container,
body.menu-overlay #container {
	padding-left: 0px;
}

#content-wrap {
	padding: 58px 0px 0px;
}

#content {
	padding: 0px 30px;
}

#footer-wrap {
	background: #fff;
	border-top: 1px solid #d9d9d9;
	height: 59px;
	padding-left: 230px;
	transition: all 200ms;
}

body.menu-regular-inactive #footer-wrap,
body.menu-overlay #footer-wrap {
	padding-left: 0px;
}

#footer {
	padding: 0px 30px;
}

#footer p {
	float: right;
	font: 12px/50px sans-serif;
	color: #5f5f5f;
	padding: 0px;
}

#footer ul {
	float: left;
}

#footer ul li {
	float: left;
	margin-left: 15px;
}

#footer ul li:first-child {
	margin-left: 0px;
}

#footer ul li a {
	display: block;
	font: 12px/50px sans-serif;
	color: #777;
}

#footer ul li a.accent {
	color: #D201BC;
}

@media (max-width: 1240px) {

	body.menu-regular #menu-wrap {
		left: -230px;
		box-shadow: none;
	}
	
	body.menu-regular-min-inactive #menu-wrap {
		left: -230px;
		box-shadow: none;
	}
	
	body.menu-regular-min-active #menu-wrap {
		left: 0px;
		box-shadow: 5px 10px 15px 5px rgba(0,0,0, 0.1);
	}
	
	#container {
		padding-left: 0px;
	}

	#footer-wrap {
		padding-left: 0px;
	}

}
